<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Stocks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Portfolio<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="d-flex ml-auto" role="search" id="ticker-search">
            <input class="form-control me-2 bg-dark form-outline-info" type="search" placeholder="Ticker" aria-label="Search" style="margin-right: 10px;" id="ticker-search-input">
            <button class="btn btn-outline-info" type="submit">Find</button>
        </form>
    </div>

    <script>
    document.querySelector("#ticker-search").addEventListener("submit", e => {
        e.preventDefault()
        
        let ticker = document.querySelector("#ticker-search-input").value
        if (ticker.length == 0) ticker = "MSFT"
        window.location = `/stocks/${ticker}`
    })
    </script>
</nav>