<%- include('partials/head')%>

<%- include('partials/navbar')%>

<div class="container">
    <br>
    <br>
    <h4>Could not find ticker: "<%= ticker %>".</h4>
</div>

<%- include('partials/footer')%>